<template>
  <section class="section">
    <!-- Desktop FAB -->
    <FloatingActionButton
      class="is-hidden-touch"
      type="is-success"
      icon-left="clock-outline"
      @click="scrollToCurrentTime()"
      rounded
      size="is-medium"
    >
      Heure actuelle
    </FloatingActionButton>

    <!-- Mobile FAB -->
    <FloatingActionButton
      class="is-hidden-desktop"
      type="is-success"
      icon-left="clock-outline"
      @click="scrollToCurrentTime()"
      circle
      size="is-medium"
    />
    <!-- Scroll top FAB -->
    <transition name="fade">
      <FloatingActionButton
        v-if="displayScrollTop"
        type="is-danger"
        icon-left="arrow-up"
        @click="scrollToTop()"
        :position="{ bottom: '90px;' }"
        circle
        size="is-medium"
      />
    </transition>

    <b-button
      class="download-agenda-button"
      type="is-primary"
      @click="downloadCalendar()"
      icon-left="download"
      >Télécharger</b-button
    >

    <vue-cal
      id="vuecal"
      click-to-navigate
      :disable-views="['years', 'year']"
      today-button
      :events="events"
      :time-cell-height="timeCellHeight"
      locale="fr"
      @ready="scrollToCurrentTime"
      :time-from="6 * 60"
      :time-to="20 * 60"
      :hideWeekdays="[7]"
      :minCellWidth="minCellWidth"
    ></vue-cal>
  </section>
</template>

<style>
  .download-agenda-button {
    margin-bottom: 1rem;
  }
  .Cours {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .TD {
    background-color: rgba(253, 156, 66, 0.9);
    border: 1px solid rgb(233, 136, 46);
    color: #fff;
  }
  .TP {
    background-color: rgba(255, 102, 102, 0.9);
    border: 1px solid rgb(235, 82, 82);
    color: #fff;
  }
  .vuecal--month-view .vuecal__cell {
    height: 50px;
  }
</style>

<script>
  import VueCal from 'vue-cal';
  import { saveAs } from 'file-saver';
  import api, { logApiError } from '../helpers/api';
  import debounce from '../helpers/debounce';
  import FloatingActionButton from '../components/FloatingActionButton';

  import 'vue-cal/dist/i18n/fr';
  import 'vue-cal/dist/vuecal.css';

  export default {
    components: { VueCal, FloatingActionButton },
    data() {
      return {
        events: [],
        timeCellHeight: 80,
        minCellWidth: 150,
        listeCours: [],
        selectedDate: new Date(),
        displayScrollTop: false,
      };
    },
    methods: {
      errorToast(message) {
        this.$buefy.toast.open({ message, type: 'is-danger', queue: false });
      },
      logErrorToast(error) {
        logApiError(error, this.errorToast);
      },
      getCours() {
        api
          .get('/cours')
          .then(({ data }) => {
            this.listeCours = data;
            this.listeCours.forEach(element => {
              let event = {
                startDate: new Date(element.dateHeureDebut),
                endDate: new Date(element.dateHeureFin),
                title: `${element.matiere.reference} - ${element.matiere.titre} (${element.type})`,
                content: `${element.professeur.prenom} ${element.professeur.nom} - Salle ${element.salle.numero}`,
                class: element.type,
              };
              this.events.push(event);
            });
          })
          .catch(this.logErrorToast);
      },
      downloadCalendar() {
        api
          .get('/cours/download', {
            responseType: 'blob',
          })
          .then(response => {
            saveAs(new Blob([response.data]), 'edt.ics');
          })
          .catch(logApiError);
      },
      scrollToCurrentTime() {
        const date = new Date();
        const hours = date.getHours() + date.getMinutes() / 60;
        window.scrollTo({
          top: hours * this.timeCellHeight,
          behavior: 'smooth',
        });
      },
      scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      },
      listenToScroll() {
        this.displayScrollTop = window.scrollY > 30;
      },
    },
    mounted() {
      this.getCours();
      this.debouncedOnScroll = debounce(this.listenToScroll, 500);
      window.addEventListener('scroll', this.debouncedOnScroll);
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.debouncedOnScroll);
    },
  };
</script>
