<template>
  <section class="section">
    <div class="columns">
      <!-- Liste des profs -->
      <div class="column is-two-third">
        <h1 class="title">Note ton prof !</h1>
        <div class="columns is-multiline">
          <div
            v-for="(teacher, key) in teachers"
            :key="key"
            class="column is-half"
          >
            <TeacherCard
              :is-active="selectedTeacher === teacher"
              :teacher="teacher"
              :on-click="getProfesseurAvis"
            />
          </div>
        </div>
      </div>
      <!-- Liste des avis -->
      <div v-if="selectedTeacher !== null" class="column is-one-third">
        <h1 class="title">
          Avis de {{ selectedTeacher.prenom }} {{ selectedTeacher.nom }}
        </h1>
        <section class="margin-bottom" v-if="displayTeacherForm">
          <FormAvis :on-submit="putProfesseurAvis" :nouvel-avis="nouvelAvis" />
        </section>
        <b-notification :closable="false" v-else type="is-success" role="alert">
          Votre avis a bien été enregistré.
        </b-notification>
        <div
          class="card margin-bottom"
          v-for="(unAvis, key) in avis"
          :key="'avis-' + key"
        >
          <div class="card-content">
            <h5 class="title">Note : {{ unAvis.note }} / 5</h5>
            <p>{{ unAvis.commentaires }}</p>
          </div>
          <footer class="card-footer">
            <b-button
              @click="deleteAvis(unAvis.id)"
              v-if="unAvis.emailEtudiant === $store.state.email"
              type="is-danger"
              class="card-footer-item"
            >
              Supprimer
            </b-button>
          </footer>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
  .margin-bottom {
    margin-bottom: 1rem;
  }
</style>

<script>
  import api, { logApiError } from '../helpers/api';

  export default {
    name: 'App',
    data() {
      return {
        teachers: [],
        avis: [],
        selectedTeacher: null,
        nouvelAvis: {
          note: 0,
          commentaires: '',
          emailEtudiant: '',
        },
      };
    },
    methods: {
      getProfesseurs: function() {
        return api
          .get('/professeurs')
          .then(({ data }) => (this.teachers = data))
          .catch(logApiError);
      },
      getProfesseurAvis: function(id) {
        return api
          .get(`/professeur/${id}/avis`)
          .then(({ data }) => {
            this.avis = data;
            this.selectedTeacher = this.teachers.find(
              teacher => id === teacher.id
            );
          })
          .catch(logApiError);
      },
      putProfesseurAvis: function() {
        const { id } = this.selectedTeacher;
        api
          .put(`/professeur/${id}/avis`, this.nouvelAvis)
          .then(({ data }) => {
            this.avis.push({ ...data, supprimable: true });
            this.nouvelAvis = {
              note: 0,
              commentaires: '',
              emailEtudiant: '',
            };
          })
          .catch(logApiError);
      },
      deleteAvis: function(id) {
        api
          .delete(`/avis/${id}`)
          .then(() => {
            this.avis = this.avis.filter(unAvis => unAvis.id !== id);
          })
          .catch(logApiError);
      },
    },
    mounted() {
      this.getProfesseurs();
    },
    computed: {
      formIsValid() {
        const { emailEtudiant, commentaires } = this.nouvelAvis;
        return commentaires && emailEtudiant.match(/^\S+@\S+$/);
      },
      displayTeacherForm() {
        return (
          this.avis.findIndex(
            el => el.emailEtudiant === this.$store.state.email
          ) < 0
        );
      },
    },
  };
</script>
