<template>
  <b-button @click="$emit('click')" :style="style" class="fab" v-bind="$attrs"
    ><slot></slot
  ></b-button>
</template>

<style scoped>
  .fab {
    z-index: 1000;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;

    position: fixed;
  }

  .fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
    cursor: pointer;
  }
</style>

<script>
  export default {
    props: {
      position: {
        right: String,
        left: String,
        bottom: String,
        top: String,
      },
      circle: Boolean,
    },
    computed: {
      style() {
        const { right, left, bottom, top } = this.position || {};
        let string = '';
        if (left) {
          string += `left: ${left}; `;
        } else {
          string += `right: ${right || '30px'}; `;
        }

        if (top) {
          string += `top: ${top};`;
        } else {
          string += `bottom: ${bottom || '30px'};`;
        }

        if (this.circle) {
          string += ' border-radius: 50%;';
        }

        return string;
      },
    },
    methods: {
      onClick() {
        this.$emit('click');
      },
    },
  };
</script>
