<template>
  <form @submit.prevent="onSubmit()">
    <b-field label="Note sur 5">
      <b-select v-model="nouvelAvis.note">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </b-select>
    </b-field>
    <b-field label="Commentaires">
      <b-input
        required
        v-model="nouvelAvis.commentaires"
        type="textarea"
        rows="3"
      />
    </b-field>
    <b-button native-type="submit" type="is-primary">Enregistrer</b-button>
  </form>
</template>

<script>
  export default {
    props: {
      nouvelAvis: {
        type: Object,
        required: true,
      },
      onSubmit: Function,
    },
  };
</script>
