<template>
  <form @submit.prevent="onSubmit()">
    <b-field label="Email">
      <b-input required v-model="email" type="email" />
    </b-field>
    <b-field label="Mot de passe">
      <b-input required v-model="plainPassword" type="password" />
    </b-field>
    <b-field label="Mot de passe à nouveau">
      <b-input required v-model="passRepeat" type="password" />
    </b-field>
    <b-button native-type="submit" type="is-primary">Créer le compte</b-button>
  </form>
</template>

<script>
  import api, { JWT_KEY, logApiError } from '../helpers/api';
  export default {
    data: () => ({
      email: '',
      plainPassword: '',
      passRepeat: '',
    }),
    methods: {
      onSubmit() {
        if (this.plainPassword !== this.passRepeat) {
          this.$buefy.toast.open({
            message: 'Les mots de passes doivent être identiques',
            type: 'is-danger',
            queue: false,
          });
        } else {
          api
            .post('/signup', {
              email: this.email,
              plainPassword: this.plainPassword,
            })
            .then(({ data }) => {
              localStorage.setItem(JWT_KEY, data.token);
              this.$parent.close();
            })
            .catch(logApiError);
        }
      },
    },
  };
</script>
