<template>
  <form @submit.prevent="onSubmit()">
    <b-field label="Email">
      <b-input required v-model="email" type="email" />
    </b-field>
    <b-field label="Mot de passe">
      <b-input required v-model="password" type="password" />
    </b-field>
    <b-button native-type="submit" type="is-primary">Connexion</b-button>
  </form>
</template>

<script>
  import api, { JWT_KEY, logApiError } from '../helpers/api';
  export default {
    data: () => ({
      email: '',
      password: '',
    }),
    methods: {
      onSubmit() {
        localStorage.removeItem(JWT_KEY);
        api
          .post('/login_check', {
            username: this.email,
            password: this.password,
          })
          .then(({ data }) => {
            localStorage.setItem(JWT_KEY, data.token);
            this.$emit('loggedIn');
            this.$parent.close();
          })
          .catch(logApiError);
      },
    },
  };
</script>
