<template>
  <div>
    <b-navbar type="is-info" shadow fixed-top>
      <template slot="brand">
        <b-navbar-item>
          <h1 class="title has-text-white">Projet IUT</h1>
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item
          v-for="route in routes"
          :key="route.name"
          tag="router-link"
          :to="{ name: route.name }"
          :active="isActive(route.name)"
        >
          {{ route.label }}
        </b-navbar-item>
      </template>
      <template slot="end">
        <b-navbar-item tag="div">
          <div v-if="isLoggedIn">
            <b-button @click="logout()" type="is-primary"
              >Déconnexion de {{ $store.state.email }}</b-button
            >
          </div>
          <div class="buttons" v-else>
            <b-button @click="openSignup()" type="is-primary"
              >Créer un compte</b-button
            >
            <b-button @click="openLogin()" type="is-lignullht"
              >Connexion</b-button
            >
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
    <b-modal
      :active.sync="modalSignup"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
    >
      <div class="modal-card">
        <header class="modal-card-head">
          Création de compte
        </header>
        <section class="modal-card-body">
          <FormSignup />
        </section>
      </div>
    </b-modal>
    <b-modal
      :active.sync="modalLogin"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
    >
      <div class="modal-card">
        <header class="modal-card-head">
          Authentification
        </header>
        <section class="modal-card-body">
          <FormLogin @loggedIn="login" />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import { routes } from '../router';
  import FormSignup from './FormSignup';
  import FormLogin from './FormLogin';
  import api, { JWT_KEY, logApiError } from '../helpers/api';

  export default {
    components: {
      FormSignup,
      FormLogin,
    },
    data() {
      return {
        routes,
        isLoggedIn: Boolean(localStorage.getItem(JWT_KEY)),
        modalSignup: false,
        modalLogin: false,
      };
    },
    methods: {
      isActive(name) {
        return this.$route.name === name;
      },
      openSignup() {
        this.modalSignup = true;
      },
      openLogin() {
        this.modalLogin = true;
      },
      login() {
        this.isLoggedIn = true;
        this.getEmail();
      },
      logout() {
        localStorage.removeItem(JWT_KEY);
        this.isLoggedIn = false;
        this.$store.commit('clearEmail');
      },
      getEmail() {
        if (this.isLoggedIn) {
          api
            .get('/me')
            .then(({ data }) => this.$store.commit('setEmail', data.email))
            .catch(error => {
              const {
                response: { data },
              } = error;
              if (data.code === 401) {
                this.logout();
                this.$buefy.toast.open({
                  message: 'Session expirée.',
                  type: 'is-warning',
                  queue: false,
                });
                this.openLogin();
              } else {
                logApiError(error);
              }
            });
        }
      },
    },
    mounted() {
      this.getEmail();
    },
  };
</script>
