<template>
  <div class="card" :class="{ 'has-background-light': isActive }">
    <div class="card-content">
      <h5 class="title">{{ teacher.prenom }} {{ teacher.nom }}</h5>
      <h6 class="subtitle">{{ teacher.email }}</h6>
      <b-button
        class="card-footer-item"
        :disabled="isActive"
        type="is-primary"
        @click="onClick(teacher.id)"
        expanded
      >Afficher les avis</b-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    teacher: Object,
    isActive: Boolean,
    onClick: Function
  }
};
</script>
